.home_img {
  height: 817px;
  object-fit: cover;
  position: relative;
}
.content {
  position: absolute;
  top: 20%;
  left: 10%;
}
.about_us {
  display: flex;
  justify-content: space-between;
}
.about_us_L {
  width: 50%;
  height: 400px;
  /* padding: 100px 0 100px 60px; */
  padding: 30px;
}
.about_us_R {
  width: 50%;
  height: 400px;
  padding: 40px;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 146.5%;
}
.about_us2 {
  display: flex;
  background-color: #339eb0;
  justify-content: space-around;
  height: 231px;;
  align-items: center;
}
.im1,
.img2,
.img3,
.img4 {
  width: 50px;
  height: 50px;
  background-color: white;
}
.slide-container {
    position: relative;
    overflow: hidden;
    height: 300px; /* Adjust the height as needed */
  }
  
  .slide-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease; /* Adjust the transition duration as needed */
  }
  
  .slide-item:nth-child(2) {
    transform: translateX(100%);
  }
  
  .slide-item:nth-child(3) {
    transform: translateX(200%);
  }
  