.home_img {
  height: 817px;
  object-fit: cover;
  position: relative;
}
.content {
  position: absolute;
  top: 20%;
  left: 10%;
}
.about_us {
  display: flex;
  justify-content: space-between;
}
.about_us_L {
  width: 50%;
  height: 400px;
  /* padding: 100px 0 100px 60px; */
  padding: 30px;
}
.about_us_R {
  width: 50%;
  height: 400px;
  padding: 40px;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 146.5%;
}
.about_us2 {
  display: flex;
  background-color: #339eb0;
  justify-content: space-evenly;
  height: 221px;
  align-items: center;
  flex-wrap: wrap;
}
.quality {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 150px;
}
.quality_div {
  display: flex;
}
.quality_img_div {
  width: 54px;
  height: 54px;
  background-color: white;
  /* padding: 2%; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quality_img {
  width: 44px;
  height: 44px;
  /* background-color: aliceblue; */
}
.quality_provide {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin-left: 20px;
}

/* treatment */

.treatment {
  height: 655px;
  background-color: #eef3f6;
  padding-top: 62px;
}
.treatment_head {
  color: #093a42;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 24px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Specialists */
.specialists {
  padding-top: 62px;
}

.specialists_head {
  color: #093a42;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 24px;
}

/* blog */
.blog {
  background-color: #eef3f6;
  height: 400px;
}
.blog_head {
  color: #093a42;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 24px;
}
.card_title {
  color: #093a42;
  padding-top: 12px;
}
  
.award{

  color: #093a42;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 24px;
  padding-top: 24px;
}